<div class="content">
  <div class="sponsors-section">
    <div class="organizers-section">
      <h3>Organitzadors</h3>
      <div class="logos-container">
        <div class="flex-container logo-container">
          <img src="/logos/LogoPessebres.png"
               alt="Associació de Pessebristes d'Artesa de Segre i Comarca"
               class="logo-img">
          Associació de Pessebristes d'Artesa de Segre i Comarca
        </div>
        <div class="flex-container logo-container">
          <img src="/logos/ComerçArtesa.png"
               alt="Associació de Comerç i Serveis d'Artesa de Segre"
               class="logo-img">
          Associació de Comerç i Serveis d'Artesa de Segre
        </div>
      </div>
    </div>

    <div class="collaborators-section">
      <h3>Col·laboradors</h3>
      <div class="logos-container">
        <div class="flex-container logo-container">
          <img src="/logos/ElsPlanells.png"
               alt="Institut Els Planells"
               class="logo-img">
          Institut Els Planells
        </div>
           <div class="flex-container logo-container">
          <img src="/logos/AjuntamentArtesa.png"
               alt="Ajuntament d'Artesa de Segre"
               class="logo-img">
          Ajuntament d'Artesa de Segre
        </div>
      </div>
    </div>
  </div>
</div>
