<div class="container"  *ngIf="store">
  <div class="header-container">
    <h1 class="company-name">{{ store.name }}</h1>
    <button class="btn btn-secondary" routerLink="/dashboard">Tornar al Tauler</button>
  </div>

  <div class="company-info">
    <p class="company-description">{{ store.description }}</p>
  </div>
  <div class="action-container"  *ngIf="storeCollaboration">
    <button class="btn" *ngIf="!storeCollaboration.is_scanned" (click)="unlockQR()">Desbloqueja QR</button>
    <p *ngIf="storeCollaboration.is_scanned">QR ja descobert! Redireccionant al taulell...</p>
  </div>
  <div class="qr-container" *ngIf="!storeCollaboration">
    <button class="btn" (click)="unlockQR()">Desbloqueja QR</button>

  </div>
</div>

<div class="container" *ngIf="!store">
  <p>Alguna cosa no ha anat bé! No s'ha trobat el QR. Comunica-ho a l'administració.</p>
</div>

<app-tutorial></app-tutorial>
