<div class="home-container">
  <div class="header">
    <h1>El Repte del Pessebre d'Artesa!</h1>
    <button class="access-button" (click)="openLoginDialog()">Accedir</button>
  </div>
<div class="content">
  <div class="description">
    <p><strong>El pessebre d'Artesa de Segre s'ha perdut!</strong></p>
    <p>Participa en el repte del pessebre d'Artesa! Diverses peces del pessebre s'han escampat per les botigues del poble. Troba-les, escaneja els codis QR i descobreix les pistes que t'ajudaran a resoldre el misteri.</p>
    <p>Seràs capaç de trobar qui ha amagat el pessebre?</p>
    <p>A mesura que trobis certs codis, desbloquejaran fragments de la història del "caganer" perdut... fins que descobreixis qui ha amagat el pessebre!</p>
  </div>
  <img src="caganer.png" alt="Caganer" class="main-image">

</div>
</div>
